<div class="container">
    <h1>Update photo@ID: {{photo._id}}</h1>
    <form #editPhotoForm = 'ngForm' (ngSubmit)="updatePhoto(photo._id,editPhotoForm.value)">
      <div class="form-group">
        <label for="description">Descripion</label>
        <input type="text" class="form-control"
        [(ngModel)]="photo.description" name="description"  required>
      </div>

      <div class="form-group">
        <label for="hashtag">Hashtag</label>
        <input type="text" class="form-control" id="hashtag"
        [(ngModel)]="photo.hashtag" name="hashtag" >
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
