extends layout

block content
  h1 Welcome
  h3 You are now using Express,
  div
    if !user
      a(href = '/users/login')  click me to login
    else
      p You are logged in as
        span(style= "color:green")  #{user},
        |
        a(href='/users/logout') Log out
        |
  br
  include uploadImg
  a(href='img') Click here to see uploaded images

  p(style= "color:green") Your most recent upload:
  if(mostRecentImage)
    p Description: #{mostRecentImage.description}
    p Hashtag #: #{mostRecentImage.hashtag}
    img(src= mostRecentImage.imageUrl height="20%" width="20%")
