extends layout

block content
  p You are logged in as:
    span(style= "color:red")   #{username}
  p Your entered the password:
    span(style= "color:red")   #{password}
  p You have previously logged in using the following combinations:
  .row
  ul
    for user in pastUsers
      li  #{user.username}: #{user.password}

  p
    a(href='/') Go back to home page
