extends layout

block content
  form(method='POST' action='/users/login')
    div
      label(for='username') Username:
      input(type='text' placeholder='Username' name='username' required)
    div
      label(for='password') Password:
      input(type='password' placeholder='Password' name='password' required)
    button(type='submit') Login
  p Username:
    span(style= "color:green") user
  p Password:
    span(style= "color:green") 1234
  if flashMessage
    p(style= "color:red") #{flashMessage}

  a(href='/') Homepage
