<div class="container">
  <div class="container">

    <a routerLink = 'photos'>
      <h1 class="pull-left">{{title}}</h1>
    </a>

    <h3 class="pull-right">Hello<span *ngIf ='username'>{{username}}</span></h3>
  </div>
  <div class="container">
    <div *ngIf = 'username' class = "pull-right">
      <button type="button" class="btn btn-primary" (click)="onRegisterOrLogoutOrLogin('logout')">Logout</button>
    </div>
    <div *ngIf = '!username' class = "pull-right">
      <button type="button" class="btn btn-primary" (click)="onRegisterOrLogoutOrLogin('register')">Register</button>
    </div>
    <div *ngIf = '!username' class = "pull-right">
      <button type="button" class="btn btn-primary" (click)="onRegisterOrLogoutOrLogin('login')">Login</button>
    </div>
  </div>
  <div class="container">
  </div>

  <hr />
  <span>
    <flash-messages></flash-messages>
  </span>
</div>

<router-outlet></router-outlet>
