<div class="container">
  <form (ngSubmit)="onRegister(name.value,nickname.value, email.value, password.value)" #registerForm="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             #name="ngModel" name="name" required placeholder="Your name" [ngModel]=''>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
           Name is required!
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nickname</label>
      <input type="text" class="form-control" id="nickname"
             #nickname="ngModel" name="nickname" required placeholder="Name others will see" [ngModel]=''>
      <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)"
           class="alert alert-danger">
         <div *ngIf="nickname.errors.required">
           Nickname is required!
         </div>
      </div>
    </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
               #email="ngModel" name="email" required placeholder="xxx@xxx.com" [ngModel]=''>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
           <div *ngIf="email.errors.required">
             Email is required!
           </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" #password = 'ngModel' required name="password" placeholder="password" [ngModel]=''>

       <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required!
          </div>
       </div>
      </div>


      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
      <button type="button" class="btn btn-primary"
        (click)="registerForm.resetForm({})">Clear</button>

      <div *ngIf='failedRegisterMessage'>
        <br />
        <div class="alert alert-danger">
          <strong>{{failedRegisterMessage}}</strong>
        </div>
      </div>
  </form>

</div>
