<div class="container">
  <flash-messages></flash-messages>
</div>


<div class="container">
<form #editProfileForm = 'ngForm' (ngSubmit)="updateProfile(editProfileForm.value)">
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input type="text" class="form-control"
    [ngModel]="user.nickname" name="nickname" required #nickname="ngModel">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="editProfileForm.invalid ||editProfileForm.pristine">Submit</button>
</form>

</div>
