<app-create-bar [author] = 'user' ></app-create-bar>
<br>

<div class="container" >
  <h3>{{subTitle}}</h3>
  <div class="" style="text-align: center">
    <span>
      <flash-messages></flash-messages>
    </span>
  </div>


  <div *ngFor = 'let photo of photos' class="photo">
    <a routerLink={{photo._id}} routerLinkActive="active">
      <img src={{photoUrl}}{{photo.imageUrl}} alt="">
    </a>
    <p><strong>Description:</strong> {{photo.description}}</p>
    <p><strong>Hashtag:</strong> {{photo.hashtag}}</p>
    <p><strong>Author:</strong> {{photo.author}}</p>
    <button type="button" class="btn btn-primary" (click) = "upvote(photo)">Like({{photo.likes}})</button>
    <button type="button" class="btn btn-primary" (click) = "delete(photo)">Delete</button>
    <hr />
  </div>
</div>
