<div class="container">
  <form (ngSubmit)="onLogin(email.value, password.value)" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
               #email="ngModel" name="email" required placeholder="Copy email below" [ngModel]=''>
        Email: <strong>admin123</strong>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
           <div *ngIf="email.errors.required">
             Username is required!
           </div>
        </div>

      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" #password = 'ngModel' required name="password" placeholder="Copy Password Below" [ngModel]=''>
        Password: <strong>password</strong>

       <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required!
          </div>
       </div>
      </div>


      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
      <button type="button" class="btn btn-primary"
        (click)="loginForm.resetForm({})">Clear</button>
      <a routerLink="/register"><button type="button" class="pull-right btn btn-primary">Register</button></a>

      <div *ngIf='wrongCredentials'>
        <br />
        <div class="alert alert-danger">
          <strong>Wrong credentials!</strong>
        </div>
      </div>

  </form>

</div>
